.heroVideoSection {
  position: relative;
  min-height: var(--fullViewportHeight);
  overflow: hidden;
}

.heroVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 15% center;
  z-index: var(--z-index-hero-video);
}

.heroImageSection {
  position: relative;
  min-height: var(--fullViewportHeight);
  overflow: hidden;
  background: url("/contactpagehero.webp");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primaryOverlay);
  z-index: var(--z-index-hero-video-overlay);
}

.heroContent {
  position: relative;
  z-index: var(--z-index-hero-container);
}

/* Form Section */

.contactPageFormSection {
  background-color: var(--primaryLight);
}

/* Maps Section */

.contactPageMapsSection {
  background-color: var(--primary);
}
