.heroVideoSection {
  position: relative;
  height: var(--fullViewportHeight);
  overflow: hidden;
}

.heroVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% center;
  z-index: var(--z-index-hero-video);
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primaryOverlay);
  z-index: var(--z-index-hero-video-overlay);
}

.heroContent {
  position: relative;
  z-index: var(--z-index-hero-container);
}

.heroTitle {
  color: var(--white);
}

.heroDescription {
  color: var(--white);
}

/* USP Section */

.uspSection {
  background-color: var(--primaryLight);
}

/* Services Section */

.servicesSection {
  background-color: var(--bg);
}
