/* Preloaded Font */
/* --font-cinzel-serif */
/* --font-urbanist-sans */

:root {
  --header-offset-height: 145px;

  --desktop-max-width: 1440px;
  --tablet-max-width: 744px;
  --mobile-max-width: 430px;

  --desktop-padding: 60px;
  --tablet-padding: 30px;
  --mobile-padding: 20px;

  --debug-border: 1px dashed red;

  --transparent: transparent;
  --black: #000;
  --white: #fff;
  --bg: #ede8de;
  --primary: #354664;
  --primaryLight: #9bacca;
  --primaryDark: #121721;
  --secondary: #635436;
  --secondaryLight: #c9ba9c;
  --secondaryDark: #211c12;
  --accent: #d1ac30;

  --primaryOverlay: rgba(18, 23, 33, 0.8);
  --secondaryOverlay: rgba(33, 28, 18, 0.8);

  --low-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  --low-light-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
  --medium-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
  --medium-light-shadow: 0px 0px 8px rgba(255, 255, 255, 0.35);
  --high-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  --high-light-shadow: 0px 0px 16px rgba(255, 255, 255, 0.5);

  --low-rounded: 4px;
  --medium-rounded: 8px;
  --high-rounded: 16px;
  --high-rounded-mui-btn: 32px;

  --z-index-hero-video: 0;
  --z-index-hero-video-overlay: 1;
  --z-index-hero-container: 2;
  --z-index-header: 50;
  --z-index-header-menu: 100;
  --z-index-header-mobile-menu: 200;
  --z-index-chat-bot: 500;

  --fullViewportHeight: 100vh;
  --fullViewportHeightWithHeader: calc(100vh - var(--header-offset-height));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-urbanist-sans), sans-serif;
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-cinzel-serif), serif;
}

h1 {
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 500;
}

h3 {
  font-size: 36px;
  font-weight: 400;
}

.container-y-padding {
  padding: 64px 0;
}

.overlineText {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
}

.sectionTitle {
  border: 1px solid var(--primary);
  padding: 8px 32px;
  border-radius: 64px;
}

@media (max-width: 1200px) and (min-width: 744px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 32px;
  }
}

@media (max-width: 743px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
}
